@use '../../styles/variables' as v;

.header-logo__parachutiste {
  color: v.$para-border-color;
}

.header-logo__building {
  color: v.$build-border-color;
}

.header-logo__dev {
  color: v.$dev-border-color;
}

.header-logo__letter {
  position: absolute;
  top: 0.1em;
  left: 0.3em;
  font-size: v.$logo-letter;
}

#l-letter {
  position: relative;
  top: -0.1em;
  left: 0.1em;
}

#firstname {
  font-size: v.$h1-font-size;
  position: relative;
  left: -0.4em;
}

#name {
  font-size: v.$h1-font-size;
  position: relative;
  left: 0.3em;
}

@media (min-width: 1200px) {
  .header-logo__letter {
    font-size: 1.4 * v.$logo-letter;
  }

  #l-letter {
    top: 0.2em;
    left: 0.6em;
  }

  #firstname {
    font-size: calc(1.2 * v.$h1-font-size);
    left: -0.6em;
  }

  #name {
    font-size: calc(1.2 * v.$h1-font-size);
    left: 0.2em;
  }
}
