// MEASUREMENT
$gap: 1em;
$h1-font-size: 1.5em;
$h3-font-size: 1.3em;
$p-font-size: 1em;
$overview-font-size: 1.2em;
$networks-pics-size: 1.5em;

// COLOR
$font-color: #676767;
$header-border-color: #ddd;
$card-border-color: #bbb;
$strong-color: #7f00ff;
