@use '../../styles/variables' as v;

.App {
  background-color: v.$main-bg-color;
  color: v.$main-font-color;

  .parachutiste {
    font-family: 'Nova Square', sans-serif;
    padding: 0.2 * v.$gap;
    background: v.$para-border-gradient;
  }

  .building {
    font-family: 'Nova Square', sans-serif;
    padding: 0.2 * v.$gap;
    background: v.$build-border-gradient;
  }

  .dev {
    font-family: 'Nova Square', sans-serif;
    padding: 0.2 * v.$gap;
    background: v.$dev-border-gradient;
  }

  .custom-border {
    padding: calc(1 / 3 * v.$gap);

    .app-wrapper {
      background-color: v.$main-bg-color;
      padding: calc(0.5 * v.$gap);
      height: 98.7vh;

      header {
        display: flex;
        justify-content: space-between;
      }

      footer {
        position: absolute;
        bottom: v.$gap;
        font-size: v.$footer-font-size;
      }
    }
  }
}

@media (min-width: 900px) {
  header {
    align-items: center;
  }
}
