@use '../../styles/variables' as v;

.App {
  background-color: v.$main-bg-color;
  color: v.$main-font-color;

  .parachutiste {
    font-family: 'Nova Square', sans-serif;
    padding: 0.2 * v.$gap;
    background: v.$para-border-gradient;
  }

  .building {
    font-family: 'Nova Square', sans-serif;
    padding: 0.2 * v.$gap;
    background: v.$build-border-gradient;
  }

  .dev {
    font-family: 'Nova Square', sans-serif;
    padding: 0.2 * v.$gap;
    background: v.$dev-border-gradient;
  }

  .custom-border {
    .app-wrapper {
      background-color: v.$main-bg-color;
      padding: v.$gap;
      height: 99vh;

      header {
        display: flex;
        justify-content: space-between;
      }

      .main-wrapper {
        margin-top: calc(4.5 * v.$gap);
      }

      footer {
        position: absolute;
        bottom: v.$gap;
        font-size: 0.8rem;
      }
    }
  }
}
