@use '../../styles/variables' as v;

.footer-logo img {
  position: absolute;
  bottom: 0.6em;
  right: 0.6em;
  width: 6em;
  animation: battement 2s infinite cubic-bezier(0.66, 0, 0, 1);
}

.footer-logo img:hover {
  cursor: pointer;
}

@keyframes battement {
  0% {
    width: 6em;
  }
  10% {
    width: 7em;
  }
  30% {
    width: 6.5em;
  }
  40% {
    width: 7em;
  }
  100% {
    width: 6em;
  }
}

@media (min-width: 1200px) {
  .footer-logo img {
    width: 9em;
  }

  @keyframes battement {
    0% {
      width: 9em;
    }
    10% {
      width: 10em;
    }
    30% {
      width: 9.5em;
    }
    40% {
      width: 10em;
    }
    100% {
      width: 9em;
    }
  }
}
