@use '../../styles/variables' as v;

.card {
  // height: 350px;
  margin: 0 auto;
  margin-bottom: calc(3 * v.$gap);

  // &-title {
  //   margin-top: calc(4 * v.$gap);
  // }

  &-title span {
    font-weight: bold;
  }

  &-thumbnail {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    // padding: 5% 5% 10% 5%;
    padding: 2% 5%;
    margin-top: v.$gap;
    border-radius: 5px;
    height: 300px;

    h3 {
      font-size: v.$h3-font-size;
      border-bottom: 1px solid v.$card-border-color;
      padding: calc(0.5 * v.$gap);
      margin: calc(0.3 * v.$gap) 0;
    }

    p,
    h3 {
      opacity: 0;
      transition: all 400ms ease-out;
      text-align: center;
    }
  }

  &-thumbnail:hover {
    background-image: none;
    background-color: rgba(8, 8, 8, 0.1);

    p,
    h3 {
      opacity: 1;
    }
  }

  &-thumbnail--cfdr {
    background-image: url('/assets/cfdr.png');
  }

  &-thumbnail--maptalents {
    background-image: url('/assets/maptalents.png');
  }

  &-thumbnail--forge-club {
    background-image: url('/assets/forge-club.png');
  }

  &-thumbnail--taskmanager {
    background-image: url('/assets/taskmanager.png');
  }
}

@media (min-width: 1200px) {
  .card {
    width: 45%;
  }
}
