@use '../../styles/variables' as v;

.header-wrapper {
  margin: auto;
  .header-network {
    position: relative;
    bottom: 0.3em;

    .header-network__pic {
      width: 2em;
      margin: 0.2em 0;
    }
  }
}

@media (min-width: 900px) {
  .header-network__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: v.$gap;
  }
}
