@use '../../styles/variables' as v;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: calc(1.5 * v.$gap);
  margin: auto;
  backdrop-filter: blur(20px);
  border-bottom: 1px solid v.$header-border-color;

  h1 {
    font-size: v.$h1-font-size;
    color: v.$strong-color;
  }

  ul {
    display: flex;
    gap: calc(1.5 * v.$gap);
  }
}

.header--visible {
  top: 0;
  transition: top 0.4s ease-out;
}
.header--hidden {
  top: calc(-6.2 * v.$gap);
  transition: top 0.4s ease-out;
}
