@use '../../styles/variables' as v;

.overview {
  padding: 0 20%;
  margin: auto;
  margin-top: calc(10 * v.$gap);
  line-height: 2em;

  .overview-description,
  .overview-list__item {
    text-align: justify;
    font-size: v.$overview-font-size;
  }

  .overview-list {
    margin: v.$gap 0;
    list-style-type: disc;
    list-style-position: inside;
  }
}
