@use '../../styles/variables' as v;

.footer {
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: flex-end;
  backdrop-filter: blur(20px);
  border-top: 1px solid v.$header-border-color;
  width: 65%;
  margin: auto;

  h1 {
    font-size: v.$h3-font-size;
    color: v.$strong-color;
  }

  ul {
    display: flex;
    gap: calc(1.5 * v.$gap);
  }
}
